.form-step {
  display: none;
}
.form-step.active {
  display: block;
}
.step-indicator .step {
  width: 100%;
  text-align: center;
  position: relative;
}
.step-indicator .step::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #dee2e6;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.step-indicator .step.active::before,
.step-indicator .step.completed::before {
  background-color: #0d6efd;
}
.step-indicator .step span {
  background-color: #dee2e6;
  color: #495057;
  padding: 10px 15px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.step-indicator .step.active span,
.step-indicator .step.completed span {
  background-color: #0d6efd;
  color: white;
}

.page-container {
  display: none;
}
.page-container.active {
  display: block;
}

.lastnext {
  margin-bottom: 50px;
}

body {
  font-size: 13px; /* or smaller */
}

table,
td,
th,
input,
button,
select,
option {
  font-size: inherit;
}

.readonly{
    background-color: #e9ecef;;
}
