body {
  font-size: 13px; /* or smaller */
}

table, td, th, input, button, select {
  font-size: inherit;
}

.dt-buttons-wrapper {
  text-align: right;
  margin-bottom: 10px; /* optional spacing above the table */
}