html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}
.full-height {
  height: 100%;
}
.p-3 {
  padding: 1rem !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-column {
  flex-direction: column !important;
}
/* .d-flex {
  display: flex !important
;
} */
*,
::after,
::before {
  box-sizing: border-box;
}
.d-flex {
  display: flex !important
;
}
.wrapper {
  display: flex;
  height: 100%;
}
.sidebar {
  width: 280px;
  background-color: #212529; /* bg-dark */
  color: white;
  padding: 1rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  background-color: #212529;
  color: white;
  padding: 1rem;
}
.icon {
  margin-left: 2%;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow-y: hidden;
}


