body {
  font-size: 12px; /* or smaller */
}

table,
td,
th,
input,
button,
select ,
option {
  font-size: inherit;
}


.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  margin-right: 10px;
  width: 100px; /* optional fixed width */
}

.form-group input[type="text"] {
  padding: 5px;
  width: 200px;
}
input[readonly] {
  background-color: #0b5197; /* Bootstrap's default for readonly */
  cursor: not-allowed;
}
